


.contact {
    padding: var(--bigSpace) 0;

   
}

.custom-btn-contact {
    text-align: center;
    margin: auto;
    display: block;
    svg , i {
        font-size: 14px;
    }
}

div#map {
    height: 300px;
}
